<section class="passwordChange">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="passwordFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
      type="password"
      matInput
      placeholder="Old Password"
      name="oldPassword"
      formControlName="oldPassword">
      <mat-error *ngIf="passwordFormGroup.controls.oldPassword.errors?.required && passwordFormGroup.controls.oldPassword.touched">Old password is required</mat-error>
    </mat-form-field>
    <div [formGroup]="passwordChange" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-form-field>
        <input
        type="password"
        matInput
        placeholder="New Password"
        name="newPassword"
        formControlName="newPassword">
        <mat-error *ngIf="passwordChange.controls.newPassword.errors?.required && passwordChange.controls.newPassword.touched">Password is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
        type="password"
        matInput
        placeholder="Confirm Password"
        name="confirmPassword"
        formControlName="confirmPassword">
        <mat-error *ngIf="passwordChange.errors?.doesMatchPassword">Password does not match</mat-error>
        <mat-error *ngIf="passwordChange.controls.confirmPassword.errors?.required && passwordChange.controls.confirmPassword.touched">Confirm password is required</mat-error>
      </mat-form-field>
    </div>
    <button type="submit" mat-raised-button color="primary" [disabled]="!passwordFormGroup.valid">Submit</button>
  </form>
</section>
