<section class="updateAddress">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="updateAddress" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
      type="text"
      matInput
      placeholder="Your Skycoin Address"
      formControlName="oldEmail">
      <mat-error *ngIf="updateAddress.controls.oldEmail.errors?.required && updateAddress.controls.oldEmail.touched">Your address is required</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!updateAddress.valid">Submit</button>
  </form>
</section>
