<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit()" [formGroup]="signupForm" fxLayoutGap="10px">
    <mat-form-field>
      <input
      type="email"
      matInput
      placeholder="Your Email"
      formControlName="email">
      <mat-hint>Please enter a valid email.</mat-hint>
      <mat-error>Invalid or missing email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      type="password"
      matInput
      placeholder="Your Password"
      formControlName="password">
      <mat-error>Should be at least 8 characters long.</mat-error>
    </mat-form-field>
      <mat-checkbox name="agree" color="primary" formControlName="check">Agree to Terms and Conditions.</mat-checkbox>
    <button type="submit" mat-raised-button color="primary" [disabled]=signupForm.invalid>Submit</button>
  </form>
</section>
