<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="select">
			<mat-header-cell *matHeaderCellDef>
				<mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
				</mat-checkbox>
			</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
				</mat-checkbox>
			</mat-cell>
		</ng-container>
  <ng-container matColumnDef="userId">
    <mat-header-cell *matHeaderCellDef>User ID</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.userId }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="password">
    <mat-header-cell *matHeaderCellDef>Password</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.password }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.status }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
</mat-table>
<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[1, 5, 10]"></mat-paginator>
<button mat-raised-button color="primary" (click)="removeSelectedRows()" class="delete-user">Remove Selected User</button>
<button mat-raised-button color="primary" (click)="disableUser()" class="disable-user">Disable Selected User</button>
