<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="resetPass" (ngSubmit)="onSubmit()">
    <h4>Please enter your email</h4>
    <mat-form-field>
      <input
      type="email"
      matInput
      placeholder="Your Email"
      formControlName="email">
      <mat-hint>Please enter a valid email.</mat-hint>
      <mat-error>Invalid or missing email.</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="resetPass.invalid">Send</button>
  </form>
</section>
