<section fxLayout fxLayoutAlign="center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>User's email</mat-card-title>
      <mat-card-subtitle>Password</mat-card-subtitle>
    </mat-card-header>
  <!--  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>Skycoin address</p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button>Generate API key</button>
  </mat-card-actions>
  </mat-card>
</section>
